#dialog {
    cursor: pointer;
    position: fixed;
    z-index: 20;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transition: all 0.3s ease-in-out;
}

.delete_dialog {
    &.disabled {
        visibility: hidden;
        background-color: transparent;

    }
    &.opened {
        visibility: visible;
        opacity: 1;
        transform: scale(0.95);
        background-color: rgba(0, 0, 0, 0.438);
    }
    &.closed {
        background-color: rgba(0, 0, 0, 0.438);
        opacity: 0;
        visibility: hidden;
    }
  
    .contant {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    .container {
      width: 40%;
      height: 20%;
      background: var(--background-200);
      box-shadow: var(--shadow-border-inse);
      border-radius: 8px;
      border: 1px solid var(--gray-alpha-500);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      padding: 30px;
  
      .action_btns {
          display: flex;
          gap: 30px;
          button {
              padding: 8px 20px;
              border-radius: 8px;
          }
          .delete_btn {
              color: var(--red-600);
              background: none;
              border: 1px solid var(--red-600);
          }
          .close_btn {
            background: var(--gray-alpha-1000);
            color: black;
            border: 1px solid var(--gray-alpha-600);
          }
      }
    }
}